html, body, #root, .full-height {
    height: 100%;
}

.App {
  text-align: center;
}

.driver-selection {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 4%;
  height: 85%;
}

.opponent-selection {
  position: absolute;
  left: 4%;
  top: 0%;
  width: 4%;
  height: 85%;
}

.race-meta-data {
  position: absolute;
  left: 8%;
  top: 0%;
  width: 42%;
  height: 6%;
}

.race-meta-data > .race-name {
  float: left;
  padding: 0.5em;
}

.race-meta-data > .clock {
  float: right;
  padding: 0.5em;
}

.driver-history-container {
  position: absolute;
  left: 8%;
  top: 6%;
  width: 42%;
  height: 39%;
}

.pace-model-container {
  position: absolute;
  left: 8%;
  top: 45%;
  width: 42%;
  height: 40%;
}

.race-control-messages {
  position: absolute;
  left: 0%;
  top: 85%;
  width: 50%;
  height: 15%;
}

.page1 {
  position: absolute;
  left: 50%;
  top: 0%;
  width: 50%;
  height: 45%;
  padding: 0.2em;
  text-align: center;
}

.race-trace {
  position: absolute;
  left: 50%;
  top: 45%;
  width: 50%;
  height: 55%;
}

.plot-container {
  width: 100%;
  height: 100%;
}

.timing-table {
  margin: 0px !important;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #2d2d2d !important;
}

.timing-table > tbody > tr > td {
  padding: 0px !important;
  font-size: 8pt;
  line-height: 1.25 !important;
}

.timing-table > tbody > tr > td.pit {
  color: #DD0000;
  font-weight: bold;
}

.driver-history > tbody > tr > td.lapNumber {
  width: 8%;
  text-align: center;
}

.driver-history > tbody > tr > td.s1Time {
  width: 16%;
  text-align: center;
}

.driver-history > tbody > tr > td.s2Time {
  width: 16%;
  text-align: center;
}

.driver-history > tbody > tr > td.s3Time {
  width: 16%;
  text-align: center;
}

.driver-history > tbody > tr > td.lapTime {
  width: 16%;
  text-align: center;
}

.driver-history > tbody > tr > td.pit {
  width: 12%;
  text-align: center;
}

.driver-history > tbody > tr > td.tyre {
  width: 3%;
  text-align: center;
}

.driver-history > tbody > tr > td.gap {
  width: 13%;
  text-align: right;
  padding-right: 0.5em !important;
}

.timing-table > tbody > tr > td.personalBest {
  color: #00FF00;
}

.timing-table > tbody > tr > td.sessionBest {
  color: #FF00FF;
}

.timing-table > tbody > tr > td.none {
  color: #FFFFFF;
}

.timing-table > thead > tr > th {
  text-align: center;
  padding: 0px !important;
  font-size: 9pt;
  line-height: 1.4 !important;
}

.timing-table-header {
  margin-right: 1.2em;
}

.driver-history > thead > tr > th.lapNumber {
  width: 8%;
}

.driver-history > thead > tr > th.s1Time {
  width: 16.25%;
}

.driver-history > thead > tr > th.s2Time {
  width: 16.25%;
}

.driver-history > thead > tr > th.s3Time {
  width: 16.25%;
}

.driver-history > thead > tr > th.lapTime {
  width: 16.25%;
}

.driver-history > thead > tr > th.pit {
  width: 8%;
}

.driver-history > thead > tr > th.tyre {
  width: 4%;
}

.flex-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.auto-scroll-container {
  overflow-y: auto;
  height: 100%;
}

.scrolling {
  overflow-y: scroll;
  height: 100%;
}

.time-of-day {
  font-size: 15px;
}

.race-control-messages {
  font-size: 8pt;
  text-align: left;
  overflow-y: scroll;
  line-height: 1.3;
}

.race-control-messages > .message {
  padding-right: 4px;
}

.used-E {
  color: #FF00FF;
}

.new-E {
  background: #FF00FF;
  color: black;
}

.used-V {
  color: #FF0000;
}

.new-V {
  background: #FF0000;
  color: black;
}

.used-S {
  color: #FFFF00;
}

.new-S {
  background: #FFFF00;
  color: black;
}

.used-M {
  color: #FFFFFF;
}

.new-M {
  background: #FFFFFF;
  color: black;
}

.used-H {
  color: #FFA500;
}

.new-H {
  background: #FFA500;
  color: black;
}

.not-active-timer {
  padding: 50px;
  margin: 25px;
}

.session-list-selector {
  color: #212121;
}

.model-table {
  display: table;
  width: 100%;
  height: 100%;
  padding-top: 2px;
}

.model-help > .alert {
  font-size: 12px;
}

.help-tooltip {
  text-decoration: underline;
  text-decoration-style: dashed;
}

.model-content {
  display: table-row;
  width: 100%;
  height: 100%;
}

.model-content-table {
  display: table;
  width: 100%;
  height: 100%;
}

.model-help {
  display: table-row;
}

.model-help > .alert {
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 3px;
  width: 100%;
}

.model-plot {
  display: table-cell;
  width: 75%;
}

.model-info {
  display: table-cell;
  width: 25%;
  height: 100%;
  vertical-align: top;
  text-align: center;
  padding-top: 4px;
}

.model-block {
  padding-bottom: 20px;
}

.model-param {
  font-size: 12px;
}

.model-value {
  font-size: 15px;
}

.model-sub-value {
  font-size: 12px;
}

.model-tyre-deg {
  font-size: 15px;
  padding-left: 6px;
  padding-top: 2px;
  padding-right: 2px;
}

.model-tyre-delta {
  font-size: 10px;
  padding-bottom: 6px;
}

.tyre-button {
  margin-left: 4px;
}

tr.tyre-row {
  cursor: pointer;
}

tr.active-tyre {
  background: #2d2d2d;
}


.tab-container {
  height: 100%;
}

.tabs {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
}

.tab-content {
  position: absolute;
  left: 0px;
  top: 0px;
  padding-top: 30px;
  width: 100%;
  height: 100%;
}

.tab {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.tabs > .nav > li > a {
  padding: 3px 4px !important;
  font-size: 9pt;
  cursor: pointer;
}

.tabs > .nav > li > a:focus {
  outline: 0px;
}

.tab-info-button {
  float: right;
  cursor: pointer;
}

.tab-info-button:focus {
  outline: 0px;
}

.pit-lane-container {
  height: 100%;
}

.pit-lane-times {
  height: 100%;
  float: left;
  overflow-y: auto;
}

.pit-lane-info {
  float: left;
  margin-left: 6px;
  padding: 2px;
  font-size: 9pt;
}

.pit-lane-time-table {
  border-spacing: 1px;
  border-collapse: separate;
}

.pit-lane-time-table > thead > tr > th {
  font-size: 9pt;
  line-height: 1.25 !important;  
  text-align: center;
  padding-left: 12px !important;
  padding-right: 4px !important;
  background: #303030;
  margin: 1px !important;
}

.pit-lane-time-table > tbody > tr > td {
  padding: 0px !important;
  font-size: 8pt;
  line-height: 1.25 !important;  
  text-align: center;
  background: #272727;
}

.pit-lane-time-table > thead > tr > th > a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.pit-lane-time-table > thead > tr > th > a:hover {
  text-decoration: underline;
}

.pit-lane-time-table > thead > tr > th > a:focus {
  outline: 0px;
}

.sort-symbol {
  float: right;
  width: 12px;
}

.pit-lane-stats-table {
  border-spacing: 1px;
  border-collapse: separate;
}

.pit-lane-stats-table > tbody > tr > th {
  font-size: 8pt;
  line-height: 1.25 !important;  
  text-align: center;
  padding-left: 8px !important;
  padding-right: 8px !important;
  background: #303030;
  margin: 1px !important;  
}

.pit-lane-stats-table > tbody > tr > td {
  padding: 4px !important;
  font-size: 8pt;
  line-height: 1.25 !important;  
  text-align: center;
  background: #272727;  
}

.strategy-container {
  font-size: 8px;
  height: 100%;
}

.strategy-container > table > tbody > tr > td > .driver-lap-slider {
  width: 100% !important;
  margin-left: 24px;
  padding-right: 22px;
}

.strategy-container > table > tbody > tr > td > .driver-lap-slider > .slider-horizontal {
  width: 100% !important;
}

.strategy-container > table > tbody > tr > td > .opponent-lap-slider {
  margin-top: 4px;
  padding-bottom: 10px;
  height: 100%;
}

.strategy-container > table > tbody > tr > td > .opponent-lap-slider > .slider-vertical {
  height: 100%;
}

.strategy-container > table > tbody > tr > th {
  text-align: center;
  font-size: 11px;
  padding-right: 4px;
}

.strategy-container > table > tbody > tr > th.top {
  text-align: right;
}

.strategy-container > table > tbody > tr > th.side {
  vertical-align: bottom;
}

.strategy-container > table > tbody > tr > td {
  padding-right: 3px;
  text-align: center;
  width: 10px;
  height: 7px;
}

.driver-strategy-summary {
  text-align: center;
  font-size: 11pt;
}

.opponent-strategy-summary {
  text-align: center;
  font-size: 11pt;
  min-width: 75px;
}