html, body, #root, .full-height {
    height: 100%;
}

.App {
  text-align: center;
}

.timing-table > tbody > tr > td {
  padding: 1px !important;
}

.timing-table > thead > tr > th {
  text-align: center;
}

.data-pane {
  margin: 0.8em 0.8em 0em 0.8em;
  overflow-y: scroll;
  height: 50%;
}